/.vscode/

/account-service/.env.development
/account-service/.env.staging
/account-service/node_modules
/account-service/uploads
/account-service/package.json


/emailTemplates-service/.env.development
/emailTemplates-service/.env.staging
/emailTemplates-service/node_modules
/emailTemplates-service/package.json

/post-service/.env.development
/post-service/.env.staging
/post-service/node_modules
/post-service/uploads
/post-service/package.json